html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, rgb(0, 232, 232), rgb(73, 73, 217));
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

label {
    font-weight: 500;
}

a {
    text-decoration: underline;
    color: black;
}

.card {
    background-color: rgb(241, 241, 241);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 40px;
}

.form {
    background-color: rgb(241, 241, 241);
    margin-top: 5%;
    width: 75%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 40px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-input {
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-top: 8px;
}

textarea.form-input {
    min-height: 200px;
    resize: none;
}

.form-input::placeholder {
    opacity: 75%;
}

.form-button {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    color: white;
    background-color: rgb(73, 73, 217);
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.form-button:hover {
    background-color: rgb(0, 232, 232);
    transition-duration: 500ms;
    color: black;
}

.form-errors {
    color: red;
    margin-top: 8px;
}

.divider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #9f9f9f;
}

.icon-small {
    height: 16px;
    width: 16px;
}

.tag-line {
    display: flex;
    justify-content: space-between;
}

.ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}

div#logout {
    position: absolute;
    top: 0px;
    right: 0px;
}

#vertical-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#logout-button {
    padding: 8px 16px 8px 16px;
    border-radius: 0px 0px 0px 4px;
    color: white;
    background-color: red;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

#logout-button:hover {
    background-color: darkred;
    transition-duration: 500ms;
}
